<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zouliangyu.lol">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/demo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.InformationItemDetailsAty" />
        <activity android:name=".activity.VideoDetailsAty" />
        <activity android:name=".activity.CommunityPlayDetailsAty" />
        <activity android:name=".activity.HeroItemDetailsAty" />
        <activity android:name=".activity.InformationBannerDetailsAty" />
        <activity android:name=".activity.VideoDetailsItemDetailsAty" />
        <activity android:name=".activity.CommunityShowDetailsAty" />
        <activity android:name=".activity.MoreImageActivity" />
        <activity android:name=".activity.MoreRingActivity" />
        <activity android:name=".activity.MoreNovelActivity" />
        <activity android:name=".activity.MoreNovelDetailsItemDetailsAty" />
        <activity android:name=".activity.MoreTopicActivity" />
        <activity android:name=".activity.MoreTopicDetailsActivity" />
        <activity android:name=".activity.CommunityFriendDetailsAty" />
        <activity android:name=".activity.MoreMatchActivity" />
        <activity android:name=".activity.MoreFightActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.InformationSearchActivity" />
        <activity android:name=".activity.HeroDetailsActivity" />
    </application>

</manifest>
